.item-draggable-handle {
  right: 36px;
}

.item-input {
  padding-top: 7px;
}

.item-styled-color .value {
  top: 7px;
}

.empty {
  position: relative;
  padding: 10px;
  display: block;
  overflow: hidden;
}

.remove {
  position: absolute;
  right: 0px;
  top: 10px;
  height: 28px;
  width: 28px;
  margin-top: 3px;
}
