.item-draggable-handle {
  right: 36px;
}

.empty {
  position: relative;
  padding: 10px;
  display: block;
  overflow: hidden;
}

.close {
  position: absolute;
  right: 0px;
  top: 10px;
  height: 28px;
  width: 28px;
  margin-top: 3px;
}
